@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-5xs: 8px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #f5f5f5;
  --color-black: #000;
  --color-darkslateblue: #002e71;
  --color-steelblue: #00609d;
  --color-deepskyblue: #00b3eb;

  /* Paddings */
  --padding-mid: 17px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
}
